# Numpy

By default Python does not have a concept of Arrays. And there is no inbuilt support for multidimensional arrays.

Python Numpy is a library that handles multidimensional arrays with ease. It has a great collection of functions that makes it easy while working with arrays.

It provides a multidimensional array object, and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.

NumPy gives you an enormous range of fast and efficient ways of creating arrays and manipulating numerical data inside them. While a Python list can contain different data types within a single list, all of the elements in a NumPy array should be homogeneous. The mathematical operations that are meant to be performed on arrays would be extremely inefficient if the arrays werenâ€™t homogeneous.

NumPy arrays are faster and more compact than Python lists. An array consumes less memory and is convenient to use. NumPy uses much less memory to store data and it provides a mechanism of specifying the data types. 

The NumPy API is used extensively in **Pandas, SciPy, Matplotlib, scikit-learn, scikit-image** and most other data science and scientific Python packages.

## Array

An array is a grid of values and it contains information about the raw data, how to locate an element, and how to interpret an element. 

The rank of the array is the number of dimensions. The shape of the array is a tuple of integers giving the size of the array along each dimension.

In [ ]:
## Import the Numpy package

import numpy as np

In [ ]:
## Create Array

x = np.array([2,4,6,8])
x

In [ ]:
## Creating Zeroes

np.zeros(3)

In [ ]:
## Creating ones

np.ones(5)

In [ ]:
## Creating first 5 integers

np.arange(5)

In [ ]:
## Creating integers based in an interval with spacing

np.arange(1, 10, 3)

In [ ]:
## Creating an Array in a linearspace

np.linspace(0, 5, num=3)

In [ ]:
## Creating an identity matrix
np.eye(5)

In [ ]:
## Sort the array

ar = np.array([7,9,2,6])
np.sort(ar)

In [ ]:
## Merge arrays

x=np.array([2,4,6])
y=np.array([8,10,11])
np.concatenate((x,y))

In [ ]:
## Reshaping an array

a = np.arange(4)
print(a)

In [ ]:
b = a.reshape(2, 2)
print(b)

In [ ]:
## Indexing and Slicing

data = np.array([1, 5, 9, 2])
data[1]

In [ ]:
data[0:2]

In [ ]:
data[1:]

In [ ]:
data[::2]

In [ ]:
## Reverse elements in an array

data[::-1]

In [ ]:
data[2::-1]

In [ ]:
a = np.array([[2, 4], [6, 8], [10, 12]])
print(a[a < 8])

In [ ]:
greater = (a >= 6)
print(a[greater])

In [ ]:
divisible_by_4 = a[a%4==0]
print(divisible_by_4)

In [ ]:
range = a[(a > 2) & (a < 12)]
print(range)

In [ ]:
up = (a > 6) | (a == 6)
print(a[up])

In [ ]:
#Stack Arrays
a1 = np.array([[1, 2],
               [3, 4]])

a2 = np.array([[5, 6],
               [7, 8]])

np.vstack((a1, a2))

Similar to function "rbind" in r.

In [ ]:
np.hstack((a1, a2))

Similar to function "cbind" in r.

In [ ]:
## Split Arrays

x = np.arange(4).reshape((2, 2))
x

In [ ]:
x1, x2 = np.vsplit(x, [1])
print(x1)
print(x2)

In [ ]:
x1, x2 = np.hsplit(x, [1])
print(x1)
print(x2)

In [ ]:
## Array functions

data = np.array([2, 4])
ones = np.ones(2, dtype=int)
data + ones

In [ ]:
data - ones

In [ ]:
data * data

In [ ]:
data / 3

In [ ]:
data//3

In [ ]:
print("-data = ", -data)

In [ ]:
## Power

print("data ** 2 = ", data ** 2)

In [ ]:
## Modulus

print("data % 4 = ", data % 4)

In [ ]:
## Summing an Array

a = np.array([2, 2, 2, 4])
a.sum()

In [ ]:
## Summing over rows

b = np.array([[0, 1], [2, 3]])
b.sum(axis=0)

In [ ]:
## Summing over Columns

b.sum(axis=1)

In [ ]:
## Minimum 

b.min()

In [ ]:
## Maximum

b.max()

In [ ]:
b.max(axis=0)

In [ ]:
b.max(axis=1)

In [ ]:
## Absolute Values

x = np.array([-2, -1, 0, 3, -4])
np.absolute(x)

In [ ]:
## Aggregates

x = np.arange(1, 5)
np.add.reduce(x)

In [ ]:
np.multiply.reduce(x)

In [ ]:
np.add.accumulate(x)

In [ ]:
np.multiply.accumulate(x)

In [ ]:
np.multiply.outer(x, x)

In [ ]:
## Random number generation

rng = np.random
rng.random(3)

In [ ]:
## Pulling unique values

a = np.array([1, 1, 2, 3, 4, 5, 2, 3, 1, 4, 8, 9])
np.unique(a)

In [ ]:
np.unique(a, return_index=True)

In [ ]:
np.unique(a, return_counts=True)

In [ ]:
## Transpose of a matrix
b

In [ ]:
np.transpose(b)

In [ ]:
## Flip array

x=np.arange(6)
x

In [ ]:
np.flip(x)

In [ ]:
y=np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.flip(y)

In [ ]:
np.flip(y, axis=0)

In [ ]:
np.flip(y, axis=1)

In [ ]:
y[1]=np.flip(y[1])
print(y)

In [ ]:
y[:,1] = np.flip(y[:,1])
print(y)

In [ ]:
## Flattening an multidimensional array

y=np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
y.flatten()

In [ ]:
y1 = y.flatten()
y1[0] = 99
print(y)

In [ ]:
print(y1)

In [ ]:
y1 = y.ravel()
y1[0] = 99
print(y)

In [ ]:
print(y1)

In [ ]:
## Save and Load

np.save('data', y1)

In [ ]:
np.load('data.npy')

In [ ]:
#Deleting the created file

import os

os.remove('data.npy')

In [ ]:
## Save as csv

np.savetxt('new_data.csv', y1)

In [ ]:
np.loadtxt('new_data.csv')

In [ ]:
#Deleting the created file

os.remove('new_data.csv')

In [ ]:
## Copy array

y2=y1.copy()
y2

In [ ]:
## Dot product

a = 2
b = 6
np.dot(a,b)

In [ ]:
A = np.array([1, 2, 3, 4])
B = np.array([5, 6, 7, 8])
np.dot(A, B)

In [ ]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 6], [7, 8]])
np.dot(A, B)

In [ ]:
## Cross product

A = np.array([1, 2])
B = np.array([3, 4])
np.cross(A, B)

In [ ]:
A = np.array([1, 2, 3])
B = np.array([4, 5, 6])
np.cross(A, B)

In [ ]:
## Square root

A = [4, 9, 16, 1, 25]
np.sqrt(A)

In [ ]:
x = [4+1j, 9+16j]
np.sqrt(x)

In [ ]:
y = [-4, 9]
np.sqrt(y)

In [ ]:
## Average

a = np.array([1, 2, 3, 4]).reshape(2,2)
np.average(a)

In [ ]:
np.average(a, axis=0)

In [ ]:
np.average(a, axis=1)

Can perform this using "np.mean" function too.

In [ ]:
## Mean

np.mean(a)

In [ ]:
## Standard Deviation

np.std(a)

In [ ]:
np.std(a,axis=1)

In [ ]:
np.percentile(a, 25)

In [ ]:
np.median(a)

In [ ]:
np.percentile(a, 75)

In [ ]:
## Converting from array to list

a.tolist()

In [ ]:
## Converting from list to array

y=list([1, 2, 3, 4, 5])
np.array(y)

In [ ]:
ar=np.array([[True,True],[False,False]])
np.any(ar)

In [ ]:
## Check elements in an array is true

ar=np.array([[True,True],[True,True]])
np.all(ar)

In [ ]:
ar = np.array([[True,True],[False,False]])
np.all(ar)

In [ ]:
ar = np.array([[True,True], [True,False], [True,False]])
np.all(ar, axis=1)

In [ ]:
## Trignometric functions 
    
theta = np.linspace(1, np.pi, 2)
print("theta = ", theta)
print("sin(theta) = ", np.sin(theta))
print("cos(theta) = ", np.cos(theta))
print("tan(theta) = ", np.tan(theta))

In [ ]:
## Inverse trignometric functions

x=[-1,0]
print("arcsin(x) = ", np.arcsin(x))
print("arccos(x) = ", np.arccos(x))
print("arctan(x) = ", np.arctan(x))

In [ ]:
## Exponentials

x = [1, 3]
print("e^x =", np.exp(x))
print("2^x =", np.exp2(x))
print("4^x =", np.power(4, x))

In [ ]:
## Logarithms

x = [1, 2, 3]
print("ln(x) =", np.log(x))
print("log2(x) =", np.log2(x))
print("log10(x) =", np.log10(x))

In [ ]:
## More precision for small inputs

x = [0.001, 0.01]
print("exp(x) - 1 =", np.expm1(x))
print("log(1 + x) =", np.log1p(x))